<div id="container">
  <div id="form-container">
    <h4>Log in</h4>

    <div id="form">
      <label>Email address</label>
      <input #email type="email" placeholder="email" required />

      <label>Password</label>
      <input #password type="password" placeholder="Password" required />

      <button (click)="login(email.value, password.value)">Log in</button>
    </div>
  </div>
</div>
