<div class="container">
  <div class="row d-flex align-items-center header">
    <div class="col-md-6">
      <h2 style="margin-left: 15px">All expenses</h2>
    </div>
    <div class="col-md-6 d-flex justify-content-evenly">
      <button
        class="btn btn-danger"
        onclick="addExpense()"
        style="padding: 4px"
      >
        Add Expense
      </button>
      <button class="btn btn-success" style="padding: 4px">Settle Up</button>
    </div>
  </div>
  <hr />
  <div
    *ngFor="let desc of allExpenseData"
    class="row d-flex justify-content-between align-items-center expense"
  >
    <div class="col-md-4 fd-flex" style="margin-left: 10px">
      <img
        src="https://s3.amazonaws.com/splitwise/uploads/category/icon/square_v2/uncategorized/general@2x.png"
        height="40"
        width="40"
      />
      <span style="font-weight: 50px; font-size: 20px; margin-left: 10px">{{
        desc[0]
      }}</span>
    </div>
    <div class="col-md-4 row">
      <div class="col-md-6 text-center" style="padding: 3px">
        Total Amt
        <span style="color: rgb(153, 151, 151)">₹{{ desc[1][1] }}</span>
      </div>
      <div
        class="col-md-6 text-center fd-flex flex-column"
        style="border-left: 2px solid lightgray"
      >
        <div>You Paid</div>
        <span style="color: #5bc5a7">₹{{ desc[1][0] }}</span>
      </div>
    </div>
  </div>
</div>
