p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 13px;
  color: rgb(24, 23, 23);
  margin-top: 0px;
}
.footer {
  padding: 60px 0 20px;
  background: rgb(243, 240, 240);
  color: rgb(24, 23, 23);
}
.social a {
  margin: 0 5px;
  font-size: 28px;
  vertical-align: middle;
  color: rgb(34, 33, 33);
}
.social a:hover {
  color: #19b9e7;
}

.footer-links a {
  text-decoration: none;
}

.main-brand {
  font-weight: bold;
  color: rgb(14, 29, 14);
  font-size: 30px;
}

.footer-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
