<div class="container">
  <div class="row d-flex align-items-center header">
    <div class="col-md-6">
      <h2 style="margin-left: 15px">Dashboard</h2>
    </div>
    <div class="col-md-6 d-flex justify-content-evenly">
      <button class="btn btn-danger" onclick="addExpense()" style="padding: 4px">
        Add Expense
      </button>
      <button class="btn btn-success" style="padding: 4px">Settle Up</button>
    </div>
  </div>
  <hr />

  <div class="row owes-view">
    <div class="col-md-4 d-flex flex-column align-items-center">
      <label>Total Balance</label>
      <label *ngIf="totalbalance < 0" style="color: #c0133e;">₹ {{ -1*totalbalance }}</label>
      <label *ngIf="totalbalance > 0" style="color: #30725f;">₹ {{ totalbalance }}</label>
      <label *ngIf="totalbalance === 0">₹ {{ totalbalance }}</label>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center middle">
      <label>You Owe</label>
      <label style="color: #c0133e">₹ {{ youOwe * -1 }}</label>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center">
      <label>You are Owed</label>
      <label style="color: #30725f">₹ {{ youAreOwed }}</label>
    </div>
  </div>

  <hr />

  <div class="row final-container">
    <div class="col-md-6" style="border-right: 1px solid rgb(190, 189, 189)">
      <h5 style="
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
          font-size: medium;
        ">
        YOU OWE
      </h5>
      <div *ngFor="let values of negativeSum">
        <li class="expense-values" style="color: #f13a68">
          {{ friendsObject[values[0]] }} : ₹{{ -1 * values[1] }}
        </li>
      </div>
    </div>
    <div class="col-md-6">
      <h5 style="
          text-align: center;
          font-size: medium;
          font-family: Arial, Helvetica, sans-serif;
        ">
        YOU ARE OWED
      </h5>
      <div *ngFor="let values of positiveSum">
        <li class="expense-values">
          {{ friendsObject[values[0]] }} : ₹{{ values[1] }}
        </li>
      </div>
    </div>
  </div>
</div>