* {
  margin: 0px;
  padding: 0px;
}
.expense-values {
  list-style: none;
  text-align: center;
  color: #1cc29f;
  font-size: 20px;
}

.container {
  background-color: rgb(255, 255, 255);
  border: 2px solid lightgray;
  height: 600px;
  box-shadow: 2px 2px 2px 2px lightgray;
}

.header {
  background-color: #eee;
  height: 60px;
}

.owes-view {
  background-color: #eee;
  height: 60px;
  padding: 10px 0px;
}

.owes-view label {
  color: rgb(179, 177, 177);
}

.middle {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.final-container {
  color: rgb(179, 177, 177);
  padding: 10px 0px;
}
