#container {
  display: flex;
  background-image: url("https://assets.splitwise.com/assets/core/facets.png");
  width: 100%;
  height: 600px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px grey;
}

#form {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 50%;
  justify-content: space-evenly;
  margin-top: 10px;
}
#form button {
  width: 100%;
  margin-top: 30px;
  background-color: #1cc29f;
  color: white;
  align-self: center;
  border-radius: 5px;
  padding: 5px;
}
#form input {
  padding: 12px;
  border-radius: 5px;
}
#container h4 {
  font-size: 50px;
  height: 20%;
}
