<div id="container">
  <div id="form-container">
    <h4>SignUp</h4>

    <div id="form">
      <label>Username</label>
      <input #username type="email" placeholder="Username" required />
      <label>Email address</label>
      <input #email type="email" placeholder="email" required />
      <label>Password</label>
      <input #password type="password" placeholder="password" required />

      <button (click)="SignUp(username.value, email.value, password.value)">
        SignUp
      </button>
    </div>
  </div>
</div>
