/* body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  width: 100%;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-name {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.left-dash {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.left-dash p {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.left-dash button {
  margin-bottom: 5px;
} */

#dashboard-btn {
  cursor: pointer;
  margin: 5px;
  font-size: 17px;
  text-align: center;
  border-radius: 2px;
}
#all-expense-btn {
  cursor: pointer;
  margin: 5px;
  font-size: 17px;
  text-align: center;
  border-radius: 2px;
}
#dashboard-btn:hover {
  color: #5bc5a7;
  background-color: lightgray;
  border-left: 5px solid #5bc5a7;
}

#all-expense-btn:hover {
  color: #5bc5a7;
  background-color: lightgray;
  border-left: 5px solid #5bc5a7;
}

.group-add {
  background-color: lightgray;
  text-align: center;
  border-radius: 2px;
}

.add-btn {
  font-size: 15px;
}
.add-btn:hover {
  color: #8656cd;
  cursor: pointer;
  transform: scale(2);
}

.friend-add {
  background-color: lightgray;
  text-align: center;
  border-radius: 2px;
}

.items {
  list-style: none;
  background-color: rgb(247, 241, 241);
  text-align: start;
  padding-left: 10px;
  border-radius: 2px;
  cursor: pointer;
}
.items:hover {
  background-color: rgb(187, 182, 182);
}
